.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
  grid-gap: 10px;
  background-color: gray;
  padding: 10px;
}

.grid-container > div {
  background-color: darkgrey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
