<ng-container>
  <div style="border: 3px grey solid;">
<div>Titel: {{stackOverFlowData.title}}</div>
<div>Antworten: {{stackOverFlowData.answer_count}}</div>
  <a target="_blank" [href]="stackOverFlowData.link">See topic on Stack Overflow</a>
  </div>
</ng-container>
