<ng-container *ngFor="let topic of topics">
    <ng-container *ngIf="topic == 'Angular2'">
    <div class="h1">New topics of Angular 2</div>
  <app-stackoverflow-data [topic]="topic"></app-stackoverflow-data></ng-container>
  <ng-container *ngIf="topic == 'TypeScript'">
    <div class="h1">New topcis of TypeScript</div>
    <app-stackoverflow-data [topic]="topic"></app-stackoverflow-data></ng-container>
  </ng-container>


